
@{
    ViewBag.Title = "پنل مدیریت";
}
<div class="form-group">
    <br />
    <h2>پنل مدیریت</h2>
</div>
<br />
<div class="form-group">
    <h3>سیستم ها و کاربران</h3>
    <p> تعداد کل سیستم :<b> 200 عدد</b></p>
    <p> تعداد کل کاربران دامین : <b>300 عدد</b></p>
</div>
<br />
<div class="form-group">
    <h3>خدمات انجام شده:</h3>
    <p> تعداد کل خدمات انجام شده : <b>200 عدد</b></p>
    <p> خدمات انجام شده در این ماه : <b>300 عدد</b></p>
</div>