<div class="navbar-default navbar-static-side" role="navigation" id="fontfarsi">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <form action="/Admin/Services/search">
                    <input type="text" class="form-control" name="q" placeholder="کد کامپیوتر را وارد نمایید">

                </form>

            </li>
            <li>
                <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i> داشبورد</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> تعاریف اولیه<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/ComputerTypes">نوع تجهیز</a>
                    </li>
                    <li>
                        <a href="/Admin/Actions">نوع عملیات</a>
                    </li>
                    <li>
                        <a href="/Admin/Softwares">فعالیت ها</a>
                    </li>
                    <li>
                        <a href="/Admin/TypeOFServices">نوع سرویس</a>
                    </li>
                    <li>
                        <a href="/Admin/HardwareTypes">نوع قطعه/قلم</a>
                    </li>
                    <li>
                        <a href="/Admin/Hardwares">قطعات/قلم</a>
                    </li>
                    <li>
                        <a href="/Admin/Units">واحد/محل کار</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> کاربران و نقش ها<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Users">مدیریت کاربران</a>
                    </li>
                    <li>
                        <a href="/Admin/Roles">مدیریت نقش کاربران</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i>تجهیزات <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Computers">تجهیزات</a>
                    </li>
                    <li>
                        <a href="/Admin/Delivers">تحویل تجهیز</a>
                    </li>
                    <li>
                        <a href="/Admin/ComputerHardwares">لیست قطعات</a>
                    </li>
                </ul>
            </li>
           
            <li>
                <a href="/Admin/Services"><i class="fa fa-wrench fa-fw"></i>  سرویس</a>
              
               
            </li>

            @*<li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> قطعات/ نوع قطعه<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/HardwareTypes">نوع قطعه/قلم</a>
                    </li>
                    <li>
                        <a href="/Admin/Hardwares">قطعات/قلم</a>
                    </li>
                </ul>
            </li>*@
           
            @*<li>
                <a href="/Admin/PeriodicVisits"><i class="fa fa-table fa-fw"></i>بازدید دوره ای</a>
            </li>


            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> انبار<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/Inputs">ورود</a>
                    </li>
                    <li>
                        <a href="/Admin/Outputs">خروج</a>
                    </li>
                    <li>
                        <a href="/Admin/Warehouses">انبار</a>
                    </li>
                </ul>
            </li>*@
        </ul>
    </div>
</div>



