<div class="copyright HiddenMobile">
    <div class="container">
        <div class="row">
            
            <div class="copy-r col-12  float-left">
                <a href="https://zarandsteel.com" target="_blank">واحد فناوری اطلاعات و ارتباطات مجتمع فولاد زرند ایرانیان</a>
            </div>
        </div>
    </div>
</div>


